.container {
	vertical-align: center;
	max-width: 100%;
	margin-left:0px auto;
	margin-right: 0px auto;
	padding: 0px 0px;
	
}
@media (min-width: 992px){
	.container{
		min-width:992px;
	}
	.col-md-2, .col-lg-1 {
float: left;
border: 1px solid green;
margin: 4%
}

.col-lg-1 {
width: 25%;
}

.col-lg-2 {
width: 50%;
}

}
@media (min-width: 768px) and (max-width:991px){
	.container{
		max-width:100%;
	}
	.col-lg-2, .col-lg-1 {
float: left;
border: 1px solid green;
margin: 4%
}

.col-lg-1 {
width: 41%;
}

.col-lg-2 {
width: 75%;
}

#col-3 {
	width: 90.45%;
}
}
@media (max-width: 767px){
	.container{
		max-width: 100%;
	}
	.col-lg-1, .col-lg-2 {
  width:95%;
    
    margin:4% auto;
border: 1px solid green;

}

.col-lg-2 {
width: 100%;
}

.col-lg-1 {
width: 95%;
}
}

.box-1 {
	background-color: pink;
	float: right;
	width: 35%;
}
